@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', sans-serif;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #001d10;
}

.loading {
  position: relative;
  width: 250px;
  height: 250px;
}

.loading .blocks {
  position: absolute;
  width: 8px;
  height: 25px;
  background: #050c09;
  left: 50%;
  transform: rotate(calc(18deg * var(--i)));
  transform-origin: 0 125px;
  animation: animate 1.9s ease-in-out infinite;
}
